<html>
<head>
    <center><font color=red face="impact" size="6">ZOOLOGICAL PARKS IN INDIA</font></center>
<title></title>

<style type="text/css">
    .in{
        margin-left:280px;
        margin-top: 18px;
    }
    .pk1{
        margin-left:280px;
        margin-top: 18px;
    }
    .su{
        margin-left:200px
    }
</style>
</head>

<body bgcolor='palegreen' >
    <img src="static\Image\cultural1.jpg" width="240px" height="200px" align="right">
    <img src="static\Image\cultural2.jpg" width="240px" height="200px" align="right">
    <center>
        <h1><font color='darkblue'>The Parks Tourism In INDIA</font></h1>
        <h3>Register The Park That You Want To Visit</h3>
    </center>
    <div>
        <form method="post" action="/nat">
            <table align="center">
             <th>
             <tr>
                <td><label for="name">First Name :</label><br><br></td>   
                <td><input type="text" placeholder="First Name" name="fname" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="name">Last Name :</label><br><br></td>   
                <td><input type="text" placeholder="Last Name" name="lname" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="name">Aadhar Number :</label><br><br></td>   
                <td><input type="text" placeholder="Aadhar Number" name="aad" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="gender">Gender<span style="color: red;">*</span><br><br></label></td>
                <td><input type="radio" name="gender" value="male"/> Male
                    <input type="radio" name="gender" value="female"/>Female<br><br></td>
             </tr>
             <tr>
                <td><label for="phone">Mobile Number :</label><br><br></td>   
                <td><select><option>+91</option><input type="phone" placeholder="Mobile Number" name="phone" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="email">Email :</label><br><br></td>   
                <td><input type="text" placeholder="Email Address" name="email" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="address">Address  :</label><br><br></td>   
                <td><textarea row="3" cols="21" name="address" maxlength="100"></textarea><br><br></td>
            </tr>
            <tr>
                <td><label for="totalno">Total Members :</label><br><br></td>   
                <td><input type="text" placeholder="Total Members" name="totalno" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="booking">Booking Dates :</label><br><br></td>   
                <td><input type="date" placeholder="Booking Dates" name="booking" value=""/><br><br></td>
            </tr>
            <tr>
                <td><label for="visit">Visiting Places</label></td>
                <td><select name="visit">
                    <option value="">select place</option>
                    <option value="Alipore Zoological Gardens,Kolkata">Alipore Zoological Gardens,Kolkata</option>
                    <option value="Zoo-cum-Botanical Garden,Guwahati">Zoo-cum-Botanical Garden,Guwahati</option>
                    <option value="Bengaluru Bannerghatta Biological Park">Bengaluru Bannerghatta Biological Park</option>
                    <option value="Chinkara Breeding Centre Kairu,Haryana">Chinkara Breeding Centre Kairu,Haryana</option>
                    <option value="Gorakhpur Zoological Garden,UP">Gorakhpur Zoological Garden,UP</option>
                    <option value="Indira Gandhi Zoological Park">Indira Gandhi Zoological Park</option>
                    <option value="Kakatiya Zoological Park,Warangal">Kakatiya Zoological Park,Warangal</option>
                    <option value="Madras Crocodile Bank Trust,Chennai">Madras Crocodile Bank Trust,Chennai</option>
                    <option value="Nandankanan Zoological Park,Bhubaneshwar">Nandankanan Zoological Park,Bhubaneshwar</option>
                    <option value="Nehru Zoological Park,Hyderabad">Nehru Zoological Park,Hyderabad</option>
                    <option value="Pilikula Biological Park,Mangalore">Pilikula Biological Park,Mangalore</option>
                   </select></td>
             </tr>
             <tr><center><br><br>
                <table border=2px class="in">
                    <th>Documents Required</th>
                    <tr><td><ul><li>Aadhar Card 2 Copies</li>
                    <li>Pan Card Xerox 2 Copies(OPTIONAL)</li>
                    </table>
            </tr></center>
            <tr>
                <div class="pk1">
                    <th><label for="package">Package<br><br></label></th>
                    <td><input type="radio" name="package" value="for 5 Days" >5 Days Package<br>
                        <input type="radio" name="package" value="for 7 Days">7 Days Package<br>
                        <input type="radio" name="package" value="for 10 Days">10 Days Package<br>
                        <input type="radio" name="package" value="for 15 Days">15 Days Package<br>
                        <input type="radio" name="package" value="for 20 Days">20 Days Package<br>
                        <input type="radio" name="package" value="for 30 Days">30 Days Package<br>
                    </td>            
                </div>
            </tr>
            <tr>
                <div class="pk1">
                <td><h3>Cost For Each Person For 1 Day:2599</h3><td>
                    <input type="submit" class="primary">
                </div>
                <br><br><br>
            </tr>
        
        </table>
    </form>
</div>
</body>
</html>

 